<p>No.: Player's jersey number</p>
<p>Player: Player's full name</p>
<p>GP: Games played</p>
<p>GS: Games started</p>
<p>MIN/G: Minutes played per game</p>
<p>FG-FGA: Field goals made - Field goals attempted</p>
<p>PCT: Field goal percentage</p>
<p>3FG-3FGA: 3 point field goals made - 3 point field goals attempted</p>
<p>PCT: 3 point field goal percentage</p>
<p>T-FTA: Free throws made - Free throws attempted</p>
<p>PCT: Free throw percentage</p>
<p>ORB/G: Offensive rebounds per game</p>
<p>DRB/G: Defensive rebounds per game</p>
<p>REB/G: Total rebounds per game</p>
<p>A/G: Assists per game</p>
<p>TO/G: Turnovers per game</p>
<p>A/TO: Assist to turnover ratio</p>
<p>BLK/G: Blocks per game</p>
<p>STL/G: Steals per game</p>
<p>PPG: Points per game</p>
<p>PER: Player efficiency rating</p>