.top {
    position:absolute;
    left:0px; right:0px; top: 0px; bottom: 0px;
    height: 58px;
    width: 100%;
    color: white;
    font-size: 35pt;
    padding: 10px;
    padding-top: 24px; 
    background: #4A6EB8; /* medium blue */
}
.topbox {
    position:absolute;
    left:178px; top:0px; bottom:0px;
    height: 45px;
    /*width: 1800px;*/
    width: 100%;
    color: white;
    font-size: 14pt;
    padding: 10px;
    padding-left: 23px;
    padding-top: 37px;
    background: black;
}
.left {
    position:absolute;
    left:0px; top:92px; right: 0px; bottom: 0px;
    width: 158px;
    /*height: 4600px;*/
    height: 100%;
    padding: 10px;
    background: black; 
}
.main {
    position:absolute;
    left:178px; top:92px; right:0px; bottom:0px;
    padding: 10px;
    background: #E6E8FA; /* light blue */
    color: black;
}

.sidelink {
    display: inline-block;
    margin-bottom: 50px;
    color: white;
}
#ind_link {
    margin-top: 15px;
}

ul {
    list-style-type: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-attachment: scroll;
    background: #E6E8FA; /* light blue */
}

#perlink {
    color: white;
}

#bylinks {
    margin-left: 40px;
}


